.front-container {
    position: relative;
}

#front-image {
    width: 100%;
    height: 1000px;
    opacity: 0.45;
}

#front-name {
    position: absolute;
    background-color: transparent;
    top: 115px;
    left: 175px;
    font-size: 130px;
    padding: 0px;
}