.about {
    background-image: linear-gradient(black, #283652);
    /* padding: 100px 0px; */
}

.about-me-title {
    display: flex;
    justify-content: center;
    font-size: 6.5vw;
    padding-top: 100px;
    background-color: transparent;
    color: #DDF091;
}

.about-me-title.column {
    padding-top: 0px;
}

.about-me-content-container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: center;
}

.about-me-content-container.column {
    flex-direction: column;
}

.about-me-selfie {
    border-radius: 90%;
    width: 30%;
    height: 30%;
    margin: 80px 50px;    
}

.about-me-selfie.column {
    width: 50%;
    height: 50%;
    margin: 30px 50px 0px 50px;
}

.about-me-text {
    line-height: 1.4;
    margin: 140px 50px;
    display: flex;
    flex-direction: column;
    font-size: 2.2vw;
    background-color: transparent;
}

.about-me-text.column {
    font-size: 3.5vw;
    margin: 20px 50px;
}

#about-me-text-1 {
    padding-bottom: 25px;
    background-color: transparent;
}

#about-me-text-2 {
    background-color: transparent;

}
