.skills-section {
    background-image: linear-gradient(white, #383647);
    padding-bottom: 10vw;
}

#skills-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 6.5vw;
    margin: 0px;
    color: black;
    background-color: transparent;
    padding: 75px 0px 45px 0px;
}

.skills-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3vw;
    margin: auto 0px;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}
