.skills-section {
    background-image: linear-gradient(white, #383647);
    padding-bottom: 250px;
}

#skills-title {
    display: flex;
    justify-content: center;
    font-size: 125px;
    margin-left: 100px;
    color: black;
    background-color: transparent;
    padding: 75px 0px 45px 0px;
}
