.timeline-section {
    background-image: linear-gradient(#383647, #363556);
    padding-bottom: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-title {
    background-color: transparent;
    font-size: 6.5vw;
    padding: 50px;    
}

.timeline-content {
    background-color: transparent;
}

.timeline-line-break {
    width: 75px;
    border: solid thin;
    border-color: white;
}

.timeline-date {
    font-size: 4.5vw;
    background-color: transparent;
}

.timeline-caption {
    font-size: 3.5vw;
    background-color: transparent;
    padding-top: 20px;
}

.timeline-pic {
    border-radius: 100%;
    width: 30%;
    height: auto;
}

