.nav-container {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color: black;
    padding: 30px;
    list-style: none;
}

.nav-item {
    background-color: transparent;
    font-size: 3vw;
}

#nav-name {
    color: #FCFF50;
}