nav {
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 30px;
    list-style: none;
}

.nav-item {
    background-color: transparent;
    font-size: 2.5vw;
}

#nav-name {
    color: #FCFF50;
}