nav {
    position: sticky;
    top: 0;
    transition: 0.6s;
    z-index: 10000;

}

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 30px;
    list-style: none;
}

.nav-item {
    background-color: transparent;
    font-size: 2.2vw;
    font-weight: lighter;
}

#nav-name {
    color: #FCFF50;
}

#resume {
    text-decoration: none;
}