#projects-section {
    background-color: #354256;
    padding-top: 75px;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-section-title {
    background-color: transparent;
    font-size: 6.5vw;

}

.projects-content {
    background-color: transparent;
    width: 90%;
}

.projects-content-title {
    background-color: transparent;
    padding-top: 4vw;
    padding-bottom: 25px;
}

.projects-content-title-link {
    background-color: transparent;
    text-decoration: none;
    font-size: 4.5vw;
    color: #DDF091;
}

.projects-content-description {
    background-color: transparent;
    font-size: 3.5vw;
    color: #E39EFC;
}

.projects-content-description.underline {
    text-decoration: underline;
}

.projects-content-tech {
    background-color: transparent;
    font-size: 3.5vw;
    color: #C5C5C5
}

.projects-content-tech-underline {
    text-decoration: underline;   
}
