.timelinePage {
  background: linear-gradient(#000000, #283652);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navBarWrapper {
  align-self: normal;
}
